#BannerContainer {
  width: 95%; /* Lebar #BannerContainer 95% */
  height: 230px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

#PosterTop {
  position: relative;
  width: 100%;
  height: 100%;
}

#PosterTop div {
  position: absolute;
  top: 0;
  left: 100%; /* Mulai dari luar sisi kanan */
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: transform 0.5s ease, opacity 0.5s;
}

#PosterTop div img {
  width: 100%; /* Lebar gambar 100% dari container */
  height: 100%; /* Tinggi gambar menyesuaikan container */
  object-fit: cover; /* Menjaga proporsi gambar */
}

@keyframes slideInRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  80% {
    transform: translateX(-10%);
    opacity: 1;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes slideOutRight {
  0% {
    transform: translateX(0%);
    opacity: 1;
  }
  20% {
    transform: translateX(10%);
    opacity: 0.7;
  }
  100% {
    transform: translateX(100%);
    opacity: 0;
  }
}

/* Responsive untuk mobile */
@media screen and (max-width: 768px) {
  #BannerContainer {
    height: 170px;
  }
}