<!DOCTYPE html>
<html lang="id">
    <head>
        <meta charset="UTF-8">
        <title>{{ page.title }}</title>
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/5/w3.css" />

        <style>
            body {
                font-family: Consolas, "Courier New", monospace;
                background-color: #0A1926;
                color: #D4CFAB;
                font-size: 1.2em;
                line-heigh: 1.1em;
            }
        </style>
    </head>

    <body>
        <div class="w3-container">
            <header>
                <h1>
                    <a href="{{ "/" | relative_url }}">DHOCNETwork HUB</a>
                </h1>
            </header>
        </div>

        <div class="w3-container">
            <main>
                {{ content }}
            </main>
        </div>

        <div class="w3-container">
            <footer>
                <p>
                    &copy; {{ site.time | date: "%Y" }}
                </p>
            </footer>
        </div>
    </body>
</html>
