---
layout: default
---

  <section class="home-panel">
    <h2 class="w3-xxlarge w3-center" style="font-weight: bold;>
      Selamat Datang di DHOCNETwork HUB
    </h2>
    <p class="w3-xlarge">
      DHOCNETwork HUB adalah saluran yang berisi catatan riwayat mingguan tentang konten yang diterbitkan di berbagai kanal yang dikelola oleh DHOCNETwork.
    </p>
  </section>

  <!-- Panel Post -->
  <section class="post-panel">
    <h2 style="font-weight: bold;">Riwayat Terbaru</h2>
    <ul>
      {% for post in site.posts limit:2 %}
        <li>
          <a href="{{ post.url }}">{{ post.title }}</a>
          <p>{{ post.excerpt }}</p>
        </li>
      {% endfor %}
    </ul>
  </section>
